* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  width: 100%;
  text-align: center;
  height: 3em; }
  nav ul {
    list-style: none;
    width: 50%;
    margin: 0 auto;
    height: 3em;
    text-align: center; }
    nav ul li {
      line-height: 3em;
      float: left;
      width: 14%;
      height: 3em; }
      nav ul li a {
        text-decoration: none;
        color: #1E182E;
        font-size: 1em; }
        nav ul li a:hover {
          color: #D17364; }
      nav ul li img {
        width: 3em; }

main {
  background: url("../slike/hero.png");
  background-position: top;
  background-size: cover;
  padding: 15% 15% 25%;
  text-align: center; }
  main:before, main:after {
    content: "";
    display: table; }
  main:after {
    clear: both; }
  main h1 {
    color: white;
    font-size: 2em;
    margin-bottom: 1em; }
  main a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    border: 1px solid white;
    padding: .5em 1em; }
    main a:hover {
      background: white;
      color: #D17364; }

.section1 {
  padding: 5% 10%; }
  .section1 h2 {
    color: #1E182E;
    text-transform: uppercase;
    margin-bottom: 2em; }
  .section1 .col {
    display: inline-block;
    width: 21%;
    margin-left: 2em; }
    .section1 .col h3 {
      text-align: right;
      text-transform: uppercase;
      color: #25496B;
      margin-bottom: 1em; }
    .section1 .col p {
      text-align: justify; }
    .section1 .col img {
      display: block;
      width: 60%;
      margin: 1em auto; }

.section2 {
  padding: 5% 8%;
  background: #f7faff; }
  .section2 h2 {
    color: #1E182E;
    text-transform: uppercase;
    margin-bottom: 2em;
    text-align: right; }
  .section2 .table {
    width: 80%;
    margin: 0 auto; }
    .section2 .table .wrap {
      display: inline-block;
      width: 30%;
      text-align: center; }
      .section2 .table .wrap h3 {
        line-height: 3em;
        font-weight: normal;
        color: white;
        background: #1E182E;
        border: 1px solid #1E182E; }
      .section2 .table .wrap p {
        border: 1px solid #1E182E;
        padding: 1em; }
      .section2 .table .wrap a {
        text-decoration: none;
        color: white;
        background: #1E182E;
        display: block;
        line-height: 2.5em; }
      .section2 .table .wrap:hover h3, .section2 .table .wrap:hover a {
        background: #D17364;
        border-color: #D17364; }
      .section2 .table .wrap:hover p {
        border-color: #D17364; }

.section3 {
  padding: 5% 20% 5% 10%;
  background: #1E182E; }
  .section3:before, .section3:after {
    content: "";
    display: table; }
  .section3:after {
    clear: both; }
  .section3 h3 {
    color: #D17364;
    line-height: 3em; }
  .section3 .left {
    float: left;
    width: 50%; }
    .section3 .left p {
      text-align: justify;
      color: white; }
  .section3 .right {
    float: right; }
    .section3 .right ul {
      list-style-image: url("../bullet.png"); }
      .section3 .right ul li a {
        text-decoration: none;
        color: white; }

/*# sourceMappingURL=main.css.map */
